.container {
  .header {
    padding: 20px;
    display: flex;
    background-color: #000;
    align-items: center;
    text-align: center;
  }
  .addButton {
    background-color: #323232;
    border-color: transparent;
  }
  .content {
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    background: #121212;
    .cell-contain {
      padding: 5px 20px;
      flex: 1 1;
      height: 100%;
      overflow: auto;
      text-align: left;
      border-right: 1px solid #323232;
      &:last-child{
      border: none;
    }
      .title-wrapper {
        padding-top: 10px;
        .cell-title {
          font-size: 18px;
        }
      }
      .card-container {
        background: #323232;
        margin: 10px 0;
        padding: 20px;
        border-radius: 4px;
        border-left: 3px solid #44AC80;
        position: relative;
        div{
          cursor: text;
        }
      }
    }
  }
}
